
.bookingformbox{
    max-width: 350px;
    margin-left: 570px;
    margin-top: -475px;
    border: 1px solid white;
}

.bookingformbox h3{
    color: white;
    margin-left: 5px;
    position: center;
    text-decoration: underline;
    font-style: italic;
}
.radio-btn{
    margin: 0 20px;
}

.radio-btn .btn{
    margin: 20px 10px 20px 0;
    box-shadow: none;
}

.radio-btn .btn::after{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: white;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}

.radio-btn .btn:checked::after{
    content:'';
    background-color: red;
    transition: 0.75s;
}

.radio-btn span{
    color: white;
    margin-right: 5px;
    font-size: 12px;
}

.bookingform{
    padding: 0 20px 20px;
}

.bookingform label{
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 12px;
    color: white;
}

.bookingform input{
    margin-right: 100px;
}
input::placeholder{
    color: black !important
}


*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1, h3{
    margin-top: 15px;
    margin-bottom: 20px;
}

h4{
    margin-bottom: 5px;
}

.bgimage{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 150%;
    z-index: -1;
    background: linear-gradient(rgba(164, 253, 250, 0.7), rgba(164, 253, 250, 0.7)), url(bgimg.png) no-repeat center center;
    background-size:cover;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    font: italic;
    font-weight: bold;
    color: red;
}

nav img{
    width: 70px;
    height: 70px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: red;
    font-size: smaller;
    text-decoration: none;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.textbox{
    margin-top: 200px;
    width: 90%;
    color: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: centre;

}

.textbox p{
    margin-bottom: 50px;
}

div{
    margin-bottom: 3px;
}

.container{

    width: 50%;
    background-color: rgba(138, 11, 176, 0.7);
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.3);
    margin-top: -175px;
    margin-left: 425px;
    overflow: hidden;
    position: absolute;
}

.wrapper{
    margin: 2rem 0;

}

.text{
    margin-bottom: .5rem;
    font-size: 1em;
    color: white;
    text-align: center;
}

.emoji{
    font-size: 1.3em;
    display: flex;
    justify-content:center; 
}

.emoji > div{
    cursor: pointer;
    transition: transform .2s ease-in;
}

.emoji > div:hover{
    transform: scale(1.4);
}

.row{
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
}
.row img{
    width:250px;
    height:250px;
    
}

.row h5{
    margin-top: 35px;
}

.row .coursetext{
    margin-left: 29px;
}

#cintro h5{
    margin-top: 25px;
}

#cintro h3{
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    color: red;
}

.bgimgpg2{
    position: absolute;
    top:0;
    left:0;
    width: 120%;
    height: 290%;
    z-index: -1;
    background: linear-gradient(rgba(164, 253, 250, 0.7), rgba(164, 253, 250, 0.7)), url(bgpg2.jpeg) no-repeat center center;
    background-size:cover;
}


.bgimgpg3{
    position: absolute;
    top:0;
    left:0;
    width: 120%;
    height: 120%;
    z-index: -1;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(bgpg3.jpeg) no-repeat center center;
    background-size:cover;
}

.bookingformbox{
    max-width: 350px;
    margin-left: 570px;
    margin-top: -475px;
    border: 1px solid white;
}

.bookingformbox h3{
    color: white;
    margin-left: 5px;
    position: center;
    text-decoration: underline;
    font-style: italic;
}
.radio-btn{
    margin: 0 20px;
}

.radio-btn .btn{
    margin: 20px 10px 20px 0;
    box-shadow: none;
}

.radio-btn .btn::after{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: white;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}

.radio-btn .btn:checked::after{
    content:'';
    background-color: red;
    transition: 0.75s;
}

.radio-btn span{
    color: white;
    margin-right: 5px;
    font-size: 12px;
}

.aftercollege h2{
    color: red;
    font-style: italic;
    text-decoration: underline;
}

.afterschool h2{
    color: red;
    font-style: italic;
    text-decoration: underline;
}

.afterschool{
    color: white;
}

.aftercollege{
    color: white;
}

.bookingform{
    padding: 0 20px 20px;
}

.bookingform label{
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 12px;
    color: white;
}

.bookingform input{
    margin-right: 100px;
}
/*input::placeholder{
    color: black !important
}
